* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background: rgb(59, 130, 246);
  color: #ffffff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(4, 31, 105);
}

.btn-active {
  cursor: pointer;
  background-color: rgb(4, 31, 105);
}

.btn:disabled,
.btn[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.control {
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.tip-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* .container {
  width: 1000px;
  height: 600px;
} */

.draw-tip,
.delete-tip {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  padding: 10px 20px;
  border: 1px black solid;
  background-color: red;
  color: white;
  font-weight: bold;
}

.sprotty-graph,
.sprotty {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 80vh;
}

.sprotty-edge {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

.sprotty-edge.selected {
  stroke: red;
}

.sprotty-node.task {
  fill: #c0e0fc;
  stroke: #444;
  stroke-width: 1;
}

.dummy > .task {
  fill: black;
}

.dummy-edge {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.sprotty-node.task:hover {
  opacity: 70%;
}

.draw-selected-source {
  fill: #0f0;
}

text {
  stroke-width: 0;
  stroke: #000;
  fill: #000;
  font-family: sans-serif;
  font-size: 10pt;
  text-anchor: middle;
}

.hide {
  display: none;
}
